/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
}
body {
    color: #828282;
    font-size: 15px;
    line-height: 1.7;
}
a:hover { text-decoration: none }
.section-padding{
    padding: 80px 0;
}
.section-title{
    margin-bottom: 60px;
}
.owl-carousel .owl-item .single-staff-item img{
    max-width: 325px;
    width:160px;
    border-radius:50%;
}
.staff-meta{
    color:#b7b7b7;
    font-size:12px;
    margin-top:20px;
}
.staff-meta h3{
    font-size:20px;
    margin: 0 0 10px;
}
.staff-list .owl-nav div{
    display:inline-block;
    width:50px;
    height:40px;
    background:#f3f3f3;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-left:20px;
    transition: .3s;
    
}
.staff-list .owl-nav div:hover{
    background: #13ACF3;
    color:#fff;
}
.staff-list .owl-nav{
    position: absolute;
    right: 0;
    top:-60px
}
.section-title h2 {
    padding-bottom: 10px;
    position: relative;
}
.section-title h2::before {
    background: #c6c6c6 none repeat scroll 0 0;
    bottom: 0;
    content:"";
    display: inline-block;
    height: 3px;
    left: 0;
    position: absolute;
    width: 60px;
}
.section-title h2::after {
    background: #14adf3 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 50px;
}